ln-chapter-page {
    & .scroll-content {
        padding-bottom: 16px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    & .navbar-toggler {
        position: fixed;
        height: 100%;
        top: 0;
        z-index: 100;
        &.navbar-toggler-full {
            width: 100%;
            left: 0%;
        }
        &.navbar-toggler-center {
            left: 30%;
            right: 30%;
        }
    }
}