ln-chapter-reader {
    #contentHolder {
        background: #aaa;
        visibility: hidden;
        display: block;
        white-space: normal;
        word-break: break-word;
    }
    .page {
        padding: 0;
    }
    & ion-slide {
        align-items: flex-start !important;
        .slide-zoom {
            text-align: start;
            & span {
                line-height: 1.7;
            }
        }
    }
    & ion-slides {
        & .swiper-pagination {
            top: auto !important;
            bottom: 0;
        }
    }
    & .vertical-content {
        line-height: 1.7;
    }
    & .navigation {
        position: fixed;
        height: 100%;
        width: 20%;
        top: 0;
        z-index: 100;
    }
    & .navigation-prev {
        left: 0;
    }
    & .navigation-next {
        right: 0;
    }
}