page-ln-list {
    ion-item {
        & ion-label{
            overflow-y: visible;
            overflow-x: hidden;
        }
        & h5 {
            text-overflow: ellipsis;
            padding-top: 2px;
        }
    }
}