page-ln-list {
    ion-item {
        & ion-label{
            overflow-y: visible;
        }
        & h5 {
            overflow-x: hidden;
            text-overflow: ellipsis;
            padding-top: 2px;
        }
    }

    ion-card {
        .cover-holder {
            min-height: 200px;
            max-height: 200px;
            display: flex;

            img {
                align-self: center;
                max-height: 200px;
            }
        }
    }
}