<!--
  Generated template for the LnList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All novels</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openFilterModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="searchTapped()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row class="list-row" align-items-end justify-content-start>
      <ion-col col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 *ngFor="let novel of novels" no-padding>
        <ion-card (tap)="novelTapped($event, novel)">
          <div class="cover-holder">
            <img [src]="'/api/covers/' + novel.cover" alt="Cover">
          </div>
          <ion-item color="secondary" no-padding>
            <h5>{{novel.title}}</h5>
            <p>
              <span *ngFor="let author of novel.authors">
              {{author.name}} ;
              </span>
              <span *ngIf="novel.authors.length == 0">&nbsp;</span>
            </p>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll *ngIf="novels?.length" (ionInfinite)="$event.waitFor(updateNovelList())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>