ln-chapter-list {
    & ion-list {
        & button {
            padding: 0 !important;
        }

        & ion-label {
            margin-left: 8px !important;
        }

        & ion-badge {
            min-width: 50px;
        }

        & ion-badge.read {
            background-color: map-get($colors, danger);
        }
    }

    & .no-content {
        text-align: center;
        ion-icon {
            font-size: 20em;
        }
        div {
            font-size: 2em;
        }
    }
}
