ln-chapter-list {
    & ion-list {
        & button {
            padding: 0 !important;
        }

        & ion-label {
            margin-left: 8px !important;
        }

        & ion-badge.read {
            background-color: map-get($colors, danger);
        }
    }
}
