<ion-grid no-padding *ngIf="!isEmptyNovels">
  <ion-row class="list-row" align-items-end justify-content-start>
    <ion-col col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4 *ngFor="let novel of novels" no-padding>
      <ion-card (tap)="novelTapped($event, novel)">
        <div class="cover-holder">
          <img [ln-img-src]="novel.cover" alt="Cover">
        </div>
        <ion-item color="secondary" no-padding>
          <h5>{{novel.title}}</h5>
          <p>
            <span *ngFor="let author of novel.authors">
              {{author.name}} ;
            </span>
            <span *ngIf="novel.authors.length == 0">&nbsp;</span>
          </p>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<div padding-top *ngIf="isEmptyNovels" class="no-content">
  <ion-icon name="ios-sad"></ion-icon>
  <div>{{emptyMessage}}</div>
</div>