page-ln-download-novel {
    & ion-content {
        & .scroll-content {
            margin-bottom: 0px !important;
        }
    }

    & .fixed-content {
        margin-bottom: 0px !important;
    }

    & .no-content {
        text-align: center;
        ion-icon {
            font-size: 20em;
        }
        div {
            font-size: 2em;
        }
    }
}
